<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Verdade_ou_desafio"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6364654540930847~3822892956"/>

        <activity
            android:name=".ui.views.ModeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.views.EditPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.views.NewPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.views.PlayersActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.views.ResponseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.views.ChoiceActivity"
            android:exported="false" />
    </application>

</manifest>